<div id="hidden-div-error" role="dialog" style="display: none;background-color:red">
  <div class="modal-dialog">
    <div id="error_form">
        <p class="modal-body" id="alert-message"></p>
    </div>
  </div>
</div>
