<!--div class="modal" id="alert-dlg">
  <div class="modal-dialog">
    <div class="modal-content alert-dialog">

      <div class="modal-header">
        <h4 class="modal-title">Error</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <p class="modal-body" id="alert-message">
        Error message here
      </p>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div-->

<div id="hidden-div-error" style="display: none;background-color:red">
  <div id="error_form">
      <p class="modal-body" id="alert-message"></p>
  </div>
</div>
