<div id="footer" class="rc-login-footer">
  <div>
    <a href="http://www.ringcentral.com/legal.html" target="_blank">Legal</a>
    &nbsp;&nbsp;
    <a href="https://www.ringcentral.com/legal/privacy-notice.html" target="_blank">Privacy</a>
  </div>
  <span>© 1999 - 2021 RingCentral Intellectual Property.</span><br>
  All rights reserved. RingCentral and the RingCentral logo are trademarks of RingCentral, Inc.
</div>
