<nav id="menu_header" class="navbar navbar-default no-border">
  <span class="left-middle-align">
    <span class="rclogo"><a href="/"><img alt="Brand" src="img/ringcentral.png" height="40"></a></span>&nbsp;&nbsp;
    <span class="title">High Volume SMS</span>
  </span>
  <% if (locals.lowVolume) { %>
  <ul class="nav navbar-nav navbar-left left-align-nav">
    <li><a href="/options">Options</a></li>
  </ul>
  <% } %>
  <ul class="nav navbar-nav navbar-right middle-align">
    <li><span>Hi <b><%- userName %></b></span></li>&nbsp;&nbsp;
    <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle" href="#">Contact us <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="javascript:openWindow()">Report Issues</a></li>
        <li><a href="javascript:openFeedbackForm()">Feedback</a></li>
      </ul>
    </li>
  </ul>
</nav>
