<div id="menu-pane" class="col-lg-1 menu-pane">
  <ul class="nav">
    <li class="menu-item" id="campaign-new" data-placement="right" data-toggle="popover" data-trigger="hover" data-content="Campaigns"><a href="/highvolume-sms"><img src="img/campaign.png" height="25"/></a></li>
    <li class="menu-item" id="conversations" data-placement="right" data-toggle="popover" data-trigger="hover" data-content="Conversations"><a href="/message-store"><img src="img/conversations.png" height="25"/></a></li>
    <li class="menu-item" id="campaign-log" data-placement="right" data-toggle="popover" data-trigger="hover" data-content="Logs"><a href="/campaign"><img src="img/campaign-log.png" height="25"/></a></li>
    <li class="menu-item" id="settings" data-placement="right" data-toggle="popover" data-trigger="hover" data-content="Settings"><a href="/settings"><img src="img/settings.png" height="25"/></a></li>
    <li class="menu-item" id="help" data-placement="right" data-toggle="popover" data-trigger="hover" data-content="Help"><a href="/about"><img src="img/help.png" height="25"/></a></li>
    <li class="menu-item" id="logout" data-placement="right" data-toggle="popover" data-trigger="hover" data-content="Logout"><a href="javascript:logout()"><img src="img/logout.png" height="25"/></a></li>
  </ul>
</div>
