<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RingCentral High Volume SMS</title>
    <link href="./img/favicon.ico" type="image/vnd.microsoft.icon" rel="shortcut icon">
    <link href="./img/favicon.ico" type="image/vnd.microsoft.icon" rel="icon">
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/common.js" type="text/javascript"></script>


    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/js/bootstrap-select.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body onload="init()">
  <%- include('_feedback_form') %>
  <nav id="menu_header" class="navbar navbar-default no-border">
    <span class="left-middle-align">
      <span class="rclogo"><a href="/"><img alt="Brand" src="img/ringcentral.png" height="40"></a></span>&nbsp;&nbsp;
      <span class="title">High Volume SMS</span>
    </span>
  </nav>

  <section id='content'>
    <div class="row col-lg-12">
      <%- include('_menu') %>
      <div id="control-col" class="col-lg-3 control-pane small-pane">
        <div class="form-inline" style="margin-top: 20px">
          <div id="create-btn" class="help-item active" onclick="showView('create')">Create a campaign</div>
          <div id="message-store-btn" class="help-item" onclick="showView('message-store')">Use conversation</div>
          <div id="settings-help-btn" class="help-item" onclick="showView('settings-help')">Settings</div>
        </div>
      </div>
      <div id="content-col" class="col-lg-7">
        <div id="create" class="col-lg-12 scrollable" style="margin-top: 20px;display: block">
          <h3>Create a new campaign</h3>
          <ol>
            <li>Enter a campaign name</li>
            <li>Select phone number from the <b>From number</b> dropdown list</li>
            <li>Choose a method for providing recipients' phone numbers
              <h4>A/ Load numbers from a .CSV file</h4>
              <div>Load a .CSV file and select the name of a column containing phone numbers. The app will automatically detect columns with phone numbers</div>
              <div><i>Sample .csv file:</i></div>
              <div style="font-family: courier">
                <b><span class="sample">phone number</span>,<span class="sample">name,<span class="sample">datetime,<span class="sample">doctor</span>,<span class="sample">location</span></b></br>
                <div><span class="sample">+14084567890</span>,<span class="sample">Samuel</span>,<span class="sample">2020/12/16 08:00</span>,<span class="sample">"Rich Edisson, MD"</span>,<span class="sample">Santa Clara hospital</span></div>
                <div><span class="sample">+11234567890</span>,<span class="sample">Ted</span>,<span class="sample">2020/12/16 08:00</span>,<span class="sample">"Bruce Lewis, DO"</span>,<span class="sample">Mountain View hospital</span></div>
                <div><span class="sample">+14087654322</span>,<span class="sample">Anna</span>,<span class="sample">2020/12/16 10:00</span>,<span class="sample">Leo Hudson, PhD</span>,<span class="sample">Mountain View hospital</span></div>
                <div><span class="sample">+16501234567</span>,<span class="sample">Jen</span>,<span class="sample">2020/12/16 14:00</span>,<span class="sample">"Brad Willis, MD"</span>,<span class="sample">"Stanford Health Care Center. Bld #3, 5th floor"</span></div>
              </div>
              <h4>B/ Manually</h4>
              <div>Enter recipient phone numbers separated by a new line</div>
            </li>
            <li><p>Compose the SMS message. If your .CSV file contain template, click a CSV column to fill the message. Read the "Sample message" to see an example message. E.g.</p>
              <span>| <a href="#">name</a> | <a href="#">datetime</a> | <a href="#">doctor</a> | <a href="#">location</a> |</span>
              <div style="width:680px;margin:10px">
                <p class="help-message">Hello {name}. Your appointment with Dr. {doctor} is scheduled for {datetime} at {location}</p>
                <p class="help-message right">Hello Samuel. Your appointment with Dr. Rich Edisson, MD is scheduled for 2020/12/16 08:00 at Santa Clara hospital</p>
              </div>
            </li>
            <div style="clear:both"></div>
            <li>If you want to send a survey, select the <b>Request response</b> option to specify response and auto-reply message</li>
            <li>Review the message and other related information shown on the right-hand side</li>
            <li>Click the <b>Submit</b> button to send</li>
          </ol>
        </div>
        <div id="message-store" class="col-lg-12" style="margin-top: 20px;display: none">
          <h3>Conversations</h3>
          <p>By default, the app will read your message store for the period of last 24 hours.</p>
          <ol>
            <li>Select a period of time or specify the date range</li>
            <li>Select phone number from the <b>From number</b> dropdown list</li>
            <li>Select a direction</li>
            <li><p>Select "All conversations" to see all messges between you and all customers. You can reply to a customer directly by clicking the "reply" link next to the inbound message!</p></li>
            <li>Select a number/name to see the conversation between you and the selected customer. You can chat with the selected customer in this mode.</li>
          </ol>
        </div>
        <div id="settings-help" class="col-lg-12" style="margin-top: 20px;display: none">
          <h3>Settings</h3>
          <h4>I/ Upload your contacts</h4>
          <p>Upload your contacts will improve the user experience. Contact's name will be used in the "Conversations" list</p>
          <ol>
            <li>Load a .CSV file which contains contacts' phone number, first name and last name</li>
            <li>Click the column name to fill the "Number", "First name" and "Last name" fields accordingly</li>
            <li>Click the "Upload" button to import</li>
          </ol>
          <h4>II/ Setup your webhook</h4>
          <p>Setup your webhook will allow the app to push campaign report and survey result directly to your server.</p>
          <ol>
            <li>Provide your full webhook URL</li>
            <li>Specify the header name</li>
            <li>Specify the header value (a.k.a your API key). You can generate the random API key by clicking the "Generate random value" button.</li>
          </ol>
          <p>If you don't want to receive the campaign data anymore, simply delete the webhook data.</p>
        </div>
      </div>
  </section>
  <%- include('_footer') %>
</body>
</html>
