<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>RingCentral Toll-Free SMS</title>
        <link href="./img/favicon.ico" type="image/vnd.microsoft.icon" rel="shortcut icon">
        <link href="./img/favicon.ico" type="image/vnd.microsoft.icon" rel="icon">
        <script src="./js/jquery-3.1.0.min.js"></script>
        <script src="./js/main.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="./css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="./css/main.css">
        <link rel="stylesheet" type="text/css" href="./css/ui.css">
    </head>
    <body>
      <nav id="menu_header" class="navbar navbar-default no-border">
        <span class="left-middle-align">
          <span class="rclogo"><a href="/"><img alt="Brand" src="img/ringcentral.png" height="40"></a></span>&nbsp;&nbsp;
          <span class="title">Toll-Free SMS</span>
        </span>
        <ul class="nav navbar-nav navbar-left left-align-nav">
          <li><a href="javascript:history.back()">Back</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right middle-align">
          <li><span><b><%- userName %>&nbsp;&nbsp;</b></span></li>
          <li><span>&nbsp;|&nbsp;&nbsp;</span></li>
          <li><a href="#" onclick="logout()">Logout</a></li>
        </ul>
      </nav>
      <section id='content'>
        <body>
          <h3>Send toll-free SMS</h3>
          <h4>Instructions:</h4>
          <ol>
              <li>Login your RingCentral account</li>
              <li>Enter your company toll-free SMS number into the <b>From number</b></li>
              <li>Provide a list of recipient number. Enter numbers separated by a semi-colon or upload a .CSV file</li>
              <li>Compose the SMS message</li>
              <li>Click the <b>Send</b> to send</li>
          </ol>
        </body>
      </section>
      <%- include('_footer') %>
    </body>
</html>
