#history-info-block {
  margin-bottom: 10px;
}

#history-list-column {
  height: 800px;
}

/* scrollable */
/*
#history-list {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 400px;
}
*/
.campaign-info-section  {
  border: 1px solid #dfe5e7;
  border-radius: 10px;
  background-color: #dfe5e7;
  max-width: 550px!important;
}
.summary-section {
  background-color: #dfe5e7;
  font-size: 0.8em;
  /*
  padding-left: -15px!important;
  padding-right: -15px!important;
  */
  min-height: 200px!important;
  max-height: 200px!important;
}
.campaign-result {
  min-width: 260px!important;
  max-width: 260px!important;
}
.campaign-details {
  background-color: #ffffff;
  padding: 10px;
  padding-left: 5px;
  margin-left: 30px!important;
  border: 2px solid #dfe5e7;
  min-width: 272px!important;
  max-width: 272px!important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.vote-result {
  min-width: 220px!important;
  max-width: 220px!important;
}

.vote-details {
  background-color: #ffffff;
  padding: 10px;
  padding-left: 5px;
  margin-left: 30px!important;
  border: 2px solid #dfe5e7;
  min-width: 312px!important;
  max-width: 312px!important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.split {
  min-width: 100px!important;
  max-width: 100px!important;
}
.right-side {
  background-color: #ffffff;
  padding: 10px;
  padding-left: 5px;
  border: 2px solid #dfe5e7;
  /*border-right-color: #dfe5e7;*/
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.history{
  min-width: 1200px!important;
  max-width: 1200px!important;
  margin: 2px;
}

.history.header {
  font-size: 0.9em;
  font-weight: bold;
}

.history-item {
  color: inherit;
  height: 40px;
  margin: auto;
  padding: 8px;
  border-bottom: 1px solid #dedede;
}

.history-item:hover {
  background-color: #e5eafa;
}

.history-item.active {
  color: #ffffff;
  background-color: #2559e5;
}

.invalid-number-list{
  margin-top: 10px;
  max-height: 500px;
  overflow: scroll;
}

.sample-message-block {
  width: 300px!important;
  min-width: 300px!important;
  padding-top: 40px;
  min-height: 200px;
  max-height: 400px;
  background-image: url("../img/phone2.png");
}
.all-samples{
  position:relative;
  /*padding-top: 60px;*/
  max-height: 340px;
  overflow: scroll;
}

.sample-message {
  width: auto;
  background-color: #f5f6fb;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 60px 10px 20px;
}
/* top | right | bottom | left */
.sample-response {
  float: right;
  background-color: #d3f0fd;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 20px 0px 20px;
}

.reply-option{
  margin-left: 15px;
}

.auto-reply-option {
  margin-left: 50px;
}
.no-border-input {
  background-color: transparent!important;
  border: none!important;
  border-bottom: 1px solid red!important;
}
/*
.campaign-input-col {
  min-width: 600px!important;
  max-width: 600px!important;
  background-color: #f5f6fb;
}

.content-list {
  min-width: 150px!important;
  max-width: 250px!important;
  background-color: #f5f6fb;
}

.campaign-item {
  color: inherit;
  background-color: #f5f6fb;
  margin: auto;

  padding: 6px;
  min-width: 150px!important;
  max-width: 250px!important;
}
.campaign-item.active {
  color: #ffffff;
  background-color: #2559e5;
}
.campaign-item:hover {
  background: #e5eafa;
}

.campaign-list-header{
  font-weight: bold;
  min-height: 30px;
  margin-top: 10px;
}
*/
