/*
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
*/
.image-option {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  /*outline: 2px solid #8796af;*/
  border: 1px solid #8796af;
  border-radius: 25px;
}

.left-middle-align {
  margin: 0;
  height: 50px;
  width: 410px;
  display: block;
  position: relative;
  float: left;
}

.left-middle-align span {
  display: inline-block;
}

.left-middle-align .rclogo {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  height: 25px;
}

.left-middle-align .rclogo img {
  height: 25px;
  width: auto;
}

.left-middle-align .title {
  position: absolute;
  top: 50%;
  left: 220px;
  margin-top: -15px;
  font-size: 20px;
  color: #0684bd;
}

.left-middle-align .title.orange {
  color: #f9971d;
}

.left-align-nav {
  height: 50px;
  line-height: 50px;
}

.left-align-nav li {
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  margin-left: 30px;
}

.left-align-nav li.active {
  position: relative;
}

.left-align-nav li.active::after {
  position: absolute;
  bottom: -1px;
  height: 2px;
  width: 100%;
  content: ' ';
  background: #0684bd;
  border-bottom: solid 1px #0684bd;
}

.nav li.menu-item {
  /*position: relative;*/
  margin-left: -18px;
  width: 62px;
}

.nav > li.active {
  /*position: relative;*/
  background: #E0E3E3;
}

.menu-item.active {
  background: #E0E3E3!important;
}

.nav li.active::after {
  bottom: -1px;
  height: 2px;
  width: 100%;
  content: ' ';
  background: #E0E3E3;
}

.menu-item.disabled {
  background: #FFE3E3!important;
}

.menu-pane{
  min-width: 60px!important;
  max-width: 60px!important;
  height: 400px;
  background-color: #f5f6fb; /*#F1F1F1;*/
  border-right: 1px solid #E0E3E3;
}

#menu_header {
  margin-bottom: -20px;
}

.left-align-nav li a {
  line-height: 50px;
  color: #777777!important;
  font-size: 13px;
}

.middle-align {
  height: 50px;
  margin: 0 30px;
}

.middle-align li {
  height: 50px;
  line-height: 50px;
  font-size: 13px;
}

.middle-align li a {
  line-height: 50px;
  color: #777777!important;
  font-size: 13px;
}

.navbar.no-border {
  padding: 0 10px;
  border-bottom: none!important;
  box-shadow: 0 1px 3px 0 #cccccc;
}

ul > li > span {
  margin-left: 5px;
  margin-right: 5px;
}

/* Middle menu and dropdown */
.left-align-nav li:hover {
  background-color: #0684bd;
}

.left-align-nav li a:hover {
  color: #ffffff!important;
}

.left-align-nav li.active a:hover {
  color: #0684bd!important;
}

.dropdown:hover ul.dropdown-menu {
  display: block;
}

.dropdown a.dropdown-toggle {
  background: white;
}

.caplock_warning {
  background-color: yellow;
}

.unsafe_link_warning {
  background-color: #E71B26;
  color: #FFFFFF;
}

.report-label{
  min-width: 200px;
  color: blue;
}

.alert-dialog {
  min-width: 300px;
  max-width: 300px;
}

.search-input {
  height: 32px!important;
  width: 200px;
  padding-right: 20px;
  background: transparent;
}

.search-icon {
  /*position: absolute;*/
  top: 50%;
  height: 16px;
  right: 5px;
  margin-top: -8px;
}

/* Navbar stuff*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
   a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #01a982; /* #01a982; BACKGROUND color for active*/
  background-color: #fff; /*#01a982;*/
}

.navbar-brand {
  color: #fff !important;
  font-size: 22px;
}
.navbar-header {
  color: #fff !important;
}
.navbar-default {
  background-color: #fff;
  border-color: #030033;
  border-radius: 0;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
   color: #262626;
   text-decoration: none;
   background-color: #66CCFF;  /*change color of links in drop down here*/
 }

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  /*color: #0073ae !important;*/
  /*border-bottom: 2px solid #0073ae;*/
}
.tab-selected{
  text-decoration: none;
  /*background-color: silver;*/ /*Change rollover cell color here*/
  color: #0073ae !important;
  border-bottom: 2px solid #0073ae;
}

.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  color: #0073ae;
  border: 0px !important;
  padding: 0px !important;
}

/* Override bootstrap */

/*
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 10px;
}
*/
