#history-info-block {
  margin-bottom: 10px;
}

#history-list-column {
  height: 400px;
}

/* scrollable */
#history-list {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 400px;
}

.campaign-info-section  {
  border: 1px solid #dfe5e7;
  border-radius: 10px;
  background-color: #dfe5e7;
}
.summary-section {
  background-color: #dfe5e7;
  font-size: 0.8em;
  padding-left: -15px!important;
  padding-right: -15px!important;
  min-width: 240px!important;
  max-width: 240px!important;
  min-height: 150px!important;
  max-height: 200px!important;
}
.split {
  min-width: 20px!important;
  max-width: 20px!important;
}
.right-side {
  background-color: #ffffff;
  padding: 10px;
  padding-left: 15px;
  /*margin: auto;*/
  border: 2px solid #dfe5e7;
  /*border-right-color: #dfe5e7;*/
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.history{
  min-width: 1200px!important;
  max-width: 1200px!important;
  margin: 2px;
}

.history.header {
  font-size: 0.9em;
  font-weight: bold;
}

.history-item {
  color: inherit;
  height: 40px;
  margin: auto;
  padding: 8px;
  border-bottom: 1px solid #dedede;
}

.history-item:hover {
  background-color: #e5eafa;
}

.history-item.active {
  color: #ffffff;
  background-color: #2559e5;
}

.sample-message-block {
  width: 300px!important;
  min-width: 300px!important;
  height: auto;
  min-height: 200px;

  background-image: url("../img/phone2.png");
}

.sample-message {
  width: auto;
  background-color: #f5f6fb;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 60px 10px 20px;
}
/* top | right | bottom | left */
.sample-response {
  float: right;
  background-color: orange;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 20px 0px 20px;
}

/*
.campaign-input-col {
  min-width: 600px!important;
  max-width: 600px!important;
  background-color: #f5f6fb;
}

.content-list {
  min-width: 150px!important;
  max-width: 250px!important;
  background-color: #f5f6fb;
}

.campaign-item {
  color: inherit;
  background-color: #f5f6fb;
  margin: auto;

  padding: 6px;
  min-width: 150px!important;
  max-width: 250px!important;
}
.campaign-item.active {
  color: #ffffff;
  background-color: #2559e5;
}
.campaign-item:hover {
  background: #e5eafa;
}

.campaign-list-header{
  font-weight: bold;
  min-height: 30px;
  margin-top: 10px;
}
*/
