body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: white;
  color: #425563;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
.title{
  color: #0073ae;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
}

.btn-noborder{
  border: none;
  background: #fff;
  height: 40px;
  font-weight: bold;
}

button:focus {
  outline:0;
}

.navbutton {
  /*float: right;*/
  margin-right: 20px;
  border: 0px!important;
  background-color: transparent;
}

#button_header {
  margin-bottom: 10px;
}
.label-input {
  min-width: 150px;
  width: 150px;
}

.label-column {
  width: 270px;
  font-size: 1.0em;
  vertical-align: bottom;
  font-weight: normal;
  color: #425563;
}

.text-input {
  /*margin-top: 10px;*/
}
.show {
  display: inline;
}
.hide {
  display: none;
}
#progress {
  margin: 20px;
}
#control_panel {
  margin: 20px;
}
#success{
  color: green;
}
#failure{
  color: red;
}
#invalid-numbers{
  height: 100px;
  max-height: 100px;
  overflow: scroll;
}
#contact-list{
  height: 200px;
  overflow: scroll;
}
/*
#groups_list {
  display: none;
  margin-top: 10px;
  position: relative;
  float: right;
}
*/

.groups{
  margin-top: 5px;
  margin-bottom: 5px;
}

.tab_item {
  display: inline;
}

.block_space{
  margin-bottom: 10px;
}

/* Navbar stuff*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
   a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #01a982; /* #01a982; BACKGROUND color for active*/
  background-color: #fff; /*#01a982;*/
}

.navbar-brand {
  color: #fff !important;
  font-size: 22px;
}
.navbar-header {
  color: #fff !important;
}
.navbar-default {
  background-color: #fff;
  border-color: #030033;
  border-radius: 0;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
   color: #262626;
   text-decoration: none;
   background-color: #66CCFF;  /*change color of links in drop down here*/
 }

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  /*color: #0073ae !important;*/
  /*border-bottom: 2px solid #0073ae;*/
}
.tab-selected{
  text-decoration: none;
  /*background-color: silver;*/ /*Change rollover cell color here*/
  color: #0073ae !important;
  border-bottom: 2px solid #0073ae;
}
/*
.left-middle-align {
  margin: 10px;
  margin-top: 20px;
  width: 500px !important;
}
.middle-align {
  margin: 10px;
}
*/

.no-border {
  border: 0px solid white !important;
  border-bottom: 1px solid gray !important;
}
.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  color: #0073ae;
  border: 0px !important;
  padding: 0px !important;
}

.popover {
  max-width: 70%; /* Max Width of the popover (depending on the container!) */
  font-family: Source Sans Pro,Arial,sans-serif;
  z-index: 9999;
  position: fixed;
  /*background: #616565;*/
  color: #185D99/*#FDFEFE*/
}

.btn-rc {
  background-color: #0073ae;
  color: white;
  margin-left: 0px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  padding: 0 16px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.rc-oval-btn {
  background-color: white;
  color: #0073ae;
  margin-left: 0px;
  margin-right: 10px;
  border: 2px solid #0073ae;
  border-radius: 15px;
  padding: 0 16px;
  height: 32px;
  max-width: 200px;
  line-height: 32px;
  font-size: 12px;
  letter-spacing: 0.3px;
  text-align: center;
}

.pos-bottom{
  position: absolute;
  bottom: 10px;
  width: 50%;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
}

.header{
  font-size: 1.0em;
  font-weight: bold;
  /*color: white;*/
  /*background-color: #45485e;*/
  border-top: 2px solid #dedede;
  border-bottom: 3px solid #dedede;
}

.alert{
  color: red;
}
.claimed{
  color: grey;
  font-size: 0.8em;
  max-width: 800px !important;
}
.warning{
  color: orange;
}
.sample {
  background-color: yellow;
  color: blue;
}
.error{
  color: red!important;
}
.cost{
  max-width: 100px !important;
  width: 100px !important;
}
.block-space{
  margin-bottom: 5px;
}
.char-count {
  display: inline;
  font-size: 0.8em !important;
  vertical-align: bottom;
  font-weight: normal !important;
}

.tail-word {
  display: inline;
  font-size: 1.0em;
  font-weight: normal !important;
}

.fixed{
  width: 200px;
}

.corner {
  position: relative;
  top: 0;
  right: 0;
  float: right;
  width: 12px;
  height: 12px;
  margin-top: 2px;
  margin-right: 2px;
}

.corner:hover{
  cursor: pointer;
  background-color: #ccc;
}

.group_block{
  width: 100%;
  padding-bottom: 5px;
  border-top: 1px solid rgba(209, 223, 250, .6);
  margin-top: 5px;
}

#groups_tab {
  margin-left: 100px;
  display: inline;
}

.rc-login-footer {
  font-size: 10px;
  padding: 10px 30px;
  position: absolute;
  bottom: 10px;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 800px;
}
/*
#campaign-list {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 400px;
}
*/
.campain-input-col {
  min-width: 600px!important;
  max-width: 600px!important;
  background-color: #f5f6fb;/*#F1F1F1;*/
}

.campaign-list{
  margin-left: -30px;
}
/*
.campaign-list:hover{
  background: #DBDBDB;
}
*/
/*
#campaign-list > div:hover{
  background: #DBDBDB;
}
*/
#report-content {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 400px;
}

#report-content > div:hover{
  background: #DBDBDB;
}

.campaign-detailed-list{

}
/*
.list > div{
  width: 100%;
}
*/

.content-list {
  min-width: 150px!important;
  max-width: 250px!important;
  background-color: #f5f6fb;/*#F1F1F1;*/
}

.campaign-item {
  color: inherit;
  background-color: #f5f6fb;/*#F1F1F1;*/
  margin: auto;
  padding: 6px;
  min-width: 150px!important;
  max-width: 250px!important;
}
.campaign-item.active {
  color: #ffffff;
  background-color: #2559e5;/*#2564E1;*/
}
.campaign-item:hover {
  background: #e5eafa;/*#DBDBDB;*/
}

.help-item {
  color: inherit;
  background-color: #f5f6fb;
  margin: auto;
  padding: 10px;
  /*
  padding-right: -10px;
  padding-top: 6px;
  padding-bottom: 6px;
  */
  font-size: 1.0em;
  min-width: 170px!important;
  max-width: 170px!important;
}
.help-item.active {
  color: #ffffff;
  background-color: #2559e5;
}
.help-item:hover {
  background: #e5eafa;
}

.campaign-list-header{
  font-weight: bold;
  min-height: 30px;
  margin-top: 10px;
}

.control-pane{
  background-color: #f5f6fb;
  min-width: 380px!important;
  max-width: 380px!important;
}

.small-pane {
  min-width: 200px!important;
  max-width: 200px!important;
}
.medium-pane {
  background-color: #f5f6fb;
  min-width: 280px!important;
  max-width: 280px!important;
}
.large-pane {
  min-width: 600px!important;
  max-width: 600px!important;
}

.conversation-title{
  color: #4a66ab;
  font-size: 1.2em;
  margin: auto;
  padding: 10px;
  height: 40px;
}

.recipient-item {
  position: relative;
  color: inherit;
  background-color: #f5f6fb;/*#F1F1F1;*/
  margin: auto;
  margin-left: 0px;
  padding: 6px;
  min-width: 400px!important;
  max-width: 400px!important;
}

.recipient-item.active {
  color: #ffffff;
  background-color: #2559e5;/*#2564E1;*/
}

.recipient-item:hover {
  background: #e5eafa;/*#DBDBDB;*/
}

#control-block {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 400px;
}

.input_page {
  min-height: 410px;
  min-width: 520px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #DBDBDB;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#creation-pane"  {
  min-width: 600px!important;
  max-width: 600px!important;
}

#recipient-list-col {
  min-width: 350px!important;
  max-width: 350px!important;
}

.recipient-list {
  min-width: 350px!important;
  max-width: 350px!important;
}

.read-message-input-block{
  margin-top: 10px;
}

#message{
  min-height: 100px!important;
  max-height: 100px!important;
}

#conversation {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 70%;
  min-width: 500px;
  height: 400px;
  border-top: 2px solid #dedede;
  border-bottom: 3px solid #dedede;
  background-color: #ffffff;
  padding: 10px;
}

#send-text {
  width: 70%;
  min-width: 500px;
}
.hasborder {
  border: 1px dotted purple;
}

.small_font{
  font-size: 0.8em;
}

.info-line {
  padding-bottom: 10px;
}

.icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.medium-icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.info-text {
  max-width: 500px;

}

.result-block {
  min-height: 210px;
  min-width: 420px;
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #DBDBDB;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.report-content-header{
    margin-top: 10px;
}

.main-options{
  margin-top: 50px;
}

.option-section  {
  border: 3px solid #dfe5e7;
  border-radius: 10px;
  min-height: 250px;
  min-width: 300px;
  max-width: 300px!important;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.help-message {
  width: 300px;
  border: 1px solid #DBDBDB;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  float: left;
}
.right {
  float: right;
  background-color: #f5f6fb;
}
